.header {
    background-color: $white-color;
}

.header-container {
    width: 1112px;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 20px;
    padding-right: 20px;
    outline: 1px solid black;
}